@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montaga&family=Montserrat&family=Nunito+Sans&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/test1.jpg') no-repeat center center fixed;
    background-size: cover;
    max-width:100%;
    height: calc(100vh - 164px);
    font-style: normal;
    color: black;
    line-height: 1.65;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-link i.fa-lg {
        font-size: 1em;
}

.main-font{
  color: #1c1b1b!important;
  font-family: 'Montaga', serif;
  font-weight: 700;
  text-transform: uppercase;  
  letter-spacing: 0.1em;
  font-size: 20px;
}

.logo-font {
    color: #1c1b1b!important;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.2em;
    font-size: 12px;
}

#logo-font{
    color: #1c1b1b!important;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.2em;
    text-align: center;
}

.text-font{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    color: #1c1b1b!important;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size:20px;
    margin-top:300px;
}

.products-font{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    color: #1c1b1b!important;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size:15px;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    font-size: 14px;
    background: #1c1b1b;
    color: white;
    min-width: 260px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    letter-spacing: 0.2em;

}

.btn-black {
    background: #1c1b1b;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid #1c1b1b;
}



.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btn-outline-white{
    border: 1px solid transparent;
}

.btn-outline-white:hover,
.btn-outline-white:active,
.btn-outline-white:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid #6c757d !important;
    border-radius: 50px;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- All Auth */
.logo-sign{
    font-size:20px;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #1c1b1b;
    letter-spacing: 0.2em;
    text-transform: uppercase;
   
}

.allauth-form-inner-content a {
    color: #000000!important;
}


/* Allauth form formatting */
.allauth-form-inner-content{
    margin-top: 15%;
}


.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border: 1px solid #d2d2d2;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #6d7379;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    font-family:"Montserrat", sans-serif;
    color: #fff;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #1c1b1b;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    text-align: center;
    letter-spacing: 0.2em;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #f2f2f2!important; /* text-info */
}

.text-info{
   color: #343a40!important; 
}

.text-danger {
    color: #bd2130!important;
}



/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

 .small-text{
        color: #1c1b1b!important;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        line-height: 1.5;
        letter-spacing: 0.2em;
        font-size: 12px; 
}

.text-primary {
    color: #912c35!important;
}


/* -------------------------------- Quantity Button */
.quantity-selector {
    border: 1px solid #d2d2d2;
    align-items: center;
}

#quantity-input{
    border: 1px solid #d2d2d2;
}

.qty_input{
    border: transparent;
    text-align: center;
}

.cart-text{
  color: #1c1b1b!important;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.2em;
  font-size: 14px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
   body {
    background: url('/media/test1.jpg') no-repeat center center fixed;
    background-size: cover;
} 
  .container {
    max-width: 80%;
  }
  .remove-item {
      padding-left:32px!important;
  }
 
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
        line-height: 0.5;
        border: 0px;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .btn.btn-outline-white.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-white.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }


    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
        background-color: transparent;
        border: 0 transparent;
    }

    #icon {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        height: 10px;
        width: 10px;
        color:#343a40;
    }

}

@media (max-width: 767px) {
    .w-50{
        width: 30%!important;
    }
}

@media (max-width: 325px) {
    .list-inline-item:not(:last-child) {
        margin-right: .1rem;
    }
}


