<!DOCTYPE html>
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
         <li class="nav-item d-block d-lg-none">
            <a class="logo-font nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font  nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font  nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Laptops
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=applemacbook,laptops" class="dropdown-item">All Laptops</a>
                <a href="{% url 'products' %}?category=applemacbook" class="dropdown-item">Apple Mac Book</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font  nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Computer Parts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=mouses,keyboards,monitors,speakers,headsets" class="dropdown-item">All Parts</a>
                <a href="{% url 'products' %}?category=monitors" class="dropdown-item">Monitors</a>
                <a href="{% url 'products' %}?category=keyboards" class="dropdown-item">Keyboards</a>
                <a href="{% url 'products' %}?category=mouses" class="dropdown-item">Mouses</a>
                <a href="{% url 'products' %}?category=headsets" class="dropdown-item">Headsets</a>
                <a href="{% url 'products' %}?category=speakers" class="dropdown-item">Speakers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font  nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tablets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=tablets,apple" class="dropdown-item">All Tablets</a>
                <a href="{% url 'products' %}?category=apple" class="dropdown-item">Apple</a>
            </div>
        </li>
    </ul>
</div>